// Colors //

$blue:    #1f00cf;
$pink:    #d63384;
$red:     #a80011;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #32c2b6;
$gray-100: #f8f9fa;
$gray-900: #212529;


$primary:       $pink;
$secondary:     $teal;
$light:         $gray-100;
$dark:          $gray-900;
$success:       $green;
$info:          $blue;
$warning:       $yellow;
$danger:        $red;


